body {
    background-color: #0f1116;
    color: #ffffff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 20px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.main {
    max-height: 700px;
}

#invalid-input-message {
    color: rgb(131, 0, 0);
}

#aligned-segment {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px;

}

#mega-align {
    margin: 50px;
}

.aligned-char {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15px;
    height: 15Spx;
    font-size: 25px;
    margin: 2px;
    color: #737373;

    &.softmask {
        color: rgba(141, 141, 141, 0.444);
    }

    &.adenosine {
        color: rgb(0, 73, 116);
    }

    &.cytosine {
        color: rgb(181, 94, 0);
    }

    &.guanine {
        color: rgb(0, 96, 22);
    }

    &.thymine {
        color: rgb(112, 0, 177);
    }

}

#alignment-container {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


button {
    all: unset;
    margin-left: 10px;
    width: 70px;
    height: 40px;
    background-color: #0f1116;
    border-radius: 10px;
    border-color: #737373;
    border-width: 1px;
    border: 1px solid #737373;
    color: #737373;
    display: flex;
    justify-content: center;
    align-items: center;

}


button:hover {
    background-color: #e95620;
    color: azure;
}


form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#form-sequence {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

input {
    all: unset;
    margin: 5px;
    width: 300px;

    background-color: #0f1116;
    border-radius: 10px;
    border-color: #737373;
    border-width: 1px;
    border: 1px solid #737373;
    color: #737373;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px 2px 2px 5px;
}

label {
    width: 70px;
}

#form-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


#some-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
